@model TestMVCApp.Models.Product

@{
    ViewData["Title"] = "Create Product";
}

<h2>Products</h2>

<form class="mt-4" asp-action="CreateProductPost" method="post">
    <label for="name">Product Name</label>
    <input asp-for="Name" type="text" id="name" class="form-control">
    <label for="price">Price</label>
    <input asp-for="Price" type="number" id="price" class="form-control">
    <label for="description">Description</label>
    <textarea asp-for="Description" type="text" id="description" placeholder="Product description here..." class="form-control"></textarea>
    <label for="categorySelect">Select Category</label>
    <select id="categorySelect" asp-for="CategoryId" class="form-control">
        @foreach (var category in ViewBag.CategoryList)
        {
            <option value="@category.Id">@category.Title</option>
        }
    </select>
    <button type="submit" class="btn btn-success mt-2">Create</button>
</form>

<table class="table table-bordered table-striped mt-3">
        <thead>
        <tr>
            <th>Product ID</th>
            <th>Product Name</th>
            <th>Price ($)</th>
            <th>Description</th>
            <th>Category</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @foreach (Product p in ViewBag.ProductsList)
        {
            <tr>
                <td>@p.Id</td>
                <td>@p.Name</td>
                <td>@p.Price</td>
                <td>@p.Description</td>
                <td>@p.Category.Title</td>
                <td>
                    <a asp-action="ProductDelete" asp-route-Id="@p.Id" class="btn btn-danger">Delete</a>
                    <a asp-action="UpdateProduct" asp-route-Id="@p.Id" class="btn btn-primary">Update</a>
                </td>
            </tr>
        }
        </tbody>
    </table>


