@model TestMVCApp.Models.Customer

@{
    ViewData["Title"] = "Create Customer";
}

<h2>Customers</h2>

<form class="mt-4" asp-action="CreateCustomer" method="post">
    <label for="name">First Name</label>
    <input asp-for="Name" type="text" id="name" class="form-control">
    <label for="lastname">Last Name</label>
    <input asp-for="LastName" type="text" id="lastname" class="form-control">
    <label for="address">Address</label>
    <input asp-for="Address" type="text" id="address" class="form-control">
    <label for="email">Email</label>
    <input asp-for="Email" type="email" id="email" class="form-control">
    <!--Orders-->
    <label for="cardnumber">Card Number</label>
    <input asp-for="CardNumber" type="number" id="cardnumber" class="form-control">
    <button type="submit" class="btn btn-success mt-2">Create</button>
</form>


<table class="table table-bordered table-striped mt-4">
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Last Name</th>
        <th>Address</th>
        <th>Email</th>
        <th>Orders</th>
        <th>Card Number</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (Customer Customer in ViewBag.CustomerList)
    {
        <tr>
            <td>@Customer.Id</td>
            <td>@Customer.Name</td>
            <td>@Customer.LastName</td>
            <td>@Customer.Address</td>
            <td>@Customer.Email</td>
            <td>???</td>
            <td>@Customer.CardNumber</td>
            <td>
                <a asp-action="DeleteCustomer" asp-route-Id="@Customer.Id" class="btn btn-danger">Delete</a>
                <a asp-action="UpdateCustomer" asp-route-Id="@Customer.Id" class="btn btn-primary">Update</a>
            </td>
        </tr>
    }
    </tbody>
</table>
