@model TestMVCApp.Models.Busket

@{
    ViewData["Title"] = "Create Busket";
}

<h2>Buskets</h2>

<form class="mt-4" asp-action="CreateBusket" method="post">
    @*<label for="customer">Select Customer:</label>
    <select asp-for="CustomerId" class="form-select" id="customer">
        <option selected>Open this select menu</option>
        @foreach (Customer c in ViewBag.Customers)
        {
            <option value="@c.Id">@c.Name</option>
        }
    </select>*@
    <br>
    <label for="product">Select Products:</label>
    <select asp-for="ProductId" class="form-select" id="product" multiple>
        <option selected>Open this select menu</option>
        @foreach (Product p in ViewBag.Products)
        {
            <option value="@p.Id">@p.Name</option>
        }
    </select>
    <br>
    <button type="submit" class="btn btn-success mt-2">Create</button>
</form> 
<br>
<table class="table table-bordered table-striped mt-5">
    <thead>
    <tr>
        <th>ID</th>
        @*<th>CustomerId</th>
        <th>Customer Name</th>*@
        <th>Products</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (Busket busket in ViewBag.BusketsList)
    {
        <tr>
            <td>@busket.Id</td>
            @*<td>@busket.CustomerId</td>
            <td>@busket.Customer.Name</td>*@
            <td>
                @string.Join(',' , busket.Products.Select(x => x.Name))
            </td>
            <td>
                <a asp-action="DeleteCategory" asp-route-Id="@busket.Id" class="btn btn-danger">Delete</a>
                <a asp-action="UpdateCategory" asp-route-Id="@busket.Id" class="btn btn-primary">Update</a>
            </td>
        </tr>
    }
    </tbody>
</table>